{{! footer section}}
		<div class="uk-grid uk-grid-divider uk-hidden-small" data-uk-grid-match data-uk-grid-margin>
			<div class="uk-panel uk-panel-box uk-width-1-3 uk-container-center uk-text-center">
				<p>
					<br>Copyright <strong>{{@blog.title}}</strong> &copy; 2013 - {{date format="YYYY"}}
					<br>with Love, Passion and Caffeine
				</p>
				<p>
					<img class="uk-border-circle" width="80" height="80" src="{{@blog.logo}}" alt="">
				</p>
			</div>
			<div class="uk-panel uk-panel-box uk-width-1-3 uk-container-center uk-text-center">
				<p>
					<br><strong>Proudly Published with</strong> <a href="http://ghost.org" target="_blank" data-uk-tooltip="" title="Just a Blogging Platform">Ghost</a>
					<br>Powered by <a href="http://labs.online.net" target="_blank" data-uk-tooltip="" title="An ARM Server">Online Cloud</a>
					<br><a href="http://satriyowibowo.my.id" rel="follow" data-uk-tooltip title="CSS Framework by Yoo">Uikit Template</a>
				</p>
			</div>
			<div class="uk-panel uk-panel-box uk-width-1-3 uk-container-center uk-text-center">
				<br>
				<a href="#" data-uk-tooltip title="GitHub" class="uk-icon-button uk-icon-github"></a>
				<a href="#" data-uk-tooltip title="Twitter" class="uk-icon-button uk-icon-twitter"></a>
				<a href="#" data-uk-tooltip title="Facebook" class="uk-icon-button uk-icon-facebook"></a>
				<a href="#" data-uk-tooltip title="GooglePlus" class="uk-icon-button uk-icon-google-plus"></a>
			</div>
		</div>
		<div class="uk-panel uk-panel-box uk-width-1-1 uk-container-centr uk-text-center uk-hidden-large">
			<p>
				<br>Copyright <strong>{{@blog.title}}</strong> &copy; {{date format="YYYY"}}
				<br><strong>Proudly Published with</strong> <a href="http://ghost.org" target="_blank" data-uk-tooltip="" title="Just a Blogging Platform">Ghost</a>
				<br><a href="http://satriyowibowo.my.id" rel="follow" data-uk-tooltip title="CSS Framework by Yoo">Uikit Template</a>
				<br>
				<a href="#" data-uk-tooltip title="GitHub" class="uk-icon-button uk-icon-github"></a>
				<a href="#" data-uk-tooltip title="Twitter" class="uk-icon-button uk-icon-twitter"></a>
				<a href="#" data-uk-tooltip title="Facebook" class="uk-icon-button uk-icon-facebook"></a>
				<a href="#" data-uk-tooltip title="GooglePlus" class="uk-icon-button uk-icon-google-plus"></a>
			</p>
			<p>
				<img class="uk-border-circle" width="80" height="80" src="{{@blog.logo}}" alt="">
			</p>
		</div>